<div class="ui-g h-100">
  <div class="ui-g-12  p-0 h-100">
    <div class="ui-g">
      <div class="ui-g-12 p-t-sm p-0">
        <div class="ui-g-12  ui-sm-12 p-0 p-b-md">
          <button pButton type="button" label="Add Role" (click)="prepareAddRole()"></button>
          <button pButton class="pull-right" type="button" label="Export" (click)="exportToExcel();"
          ></button>
        </div>

        <vertical-split-pane
          primary-component-minsize="350"
          secondary-component-minsize="680"
          local-storage-key="split-pane"
          primary-component-initialratio="0.4">
          <div class="split-pane-content-primary ">
            <div class="upper ">
              <div class="">
                <p-tabView (onChange)="tabChange($event)">
                  <p-tabPanel header="Role Tree" leftIcon="ui-icon-list">
                    <div *ngIf="activeTab===0">
                      <div class="ui-g">
                        <div class="fix-h-565 ui-g-12 border-none p-0">
                          <app-role-tree [data]="roleTreeData" (expandNode)="getSubOrgRoles($event.node)"
                                         (selectNode)="addMember($event.node)"
                                         (removeItem)="removeMember($event)" [showAddToToBtn]="false"
                                         [showAddToCCBtn]="false" [showAddChildBtn]="false"
                                         [showRemoveItemBtn]="true" [editRole]="true"
                                         (getRoleMembers)="getRoleMembersForTooltip($event)"
                                         (showEditRole)="editTreeRoleItem($event)"
                                         (showDeleteRole)="deleteRole($event)">
                          </app-role-tree>
                        </div>
                      </div>
                    </div>
                  </p-tabPanel>
                  <p-tabPanel header="Role List" leftIcon="ui-icon-people">
                    <!--<p-panel>-->
                    <!--<p-header>-->
                    <!--<div class="search-box">-->
                    <!--&lt;!&ndash;<span>&ndash;&gt;-->
                    <!--&lt;!&ndash;Roles&ndash;&gt;-->
                    <!--&lt;!&ndash;</span>&ndash;&gt;-->
                    <!--<div class="m-l-lg">-->
                    <!--<div class="ui-inputgroup">-->
                    <!--<span class="md-inputfield ">-->
                    <!--<input type="text" pInputText (input)="searchRole()"-->
                    <!--placeholder="Search Role" [(ngModel)]="roleData.roles.model.query"/>-->
                    <!--<i class="topbar-icon material-icons">search</i>-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</p-header>-->

                    <div class="ui-g">
                      <div class="ui-g-12 roleSearch-box">
                        <div class="ui-inputgroup">
                      <span class="md-inputfield ">
                         <input type="text" pInputText (input)="searchRole()"
                                placeholder="Search Role" [(ngModel)]="roleData.roles.model.query"/>
                        <i class="topbar-icon material-icons">search</i>
                      </span>
                        </div>
                      </div>
                      <div class="fix-h-565 ui-g-12 border-none p-0">
                        <app-role-tree [data]="roleData" (expandNode)="expandNode($event)"
                                       (selectNode)="addMember($event.node)" (removeItem)="removeMember($event)"
                                       [showAddToToBtn]="false" [showAddToCCBtn]="false" [showAddChildBtn]="false"
                                       [showRemoveItemBtn]="true" [editRole]="true"
                                       (showEditRole)="editRoleItem($event)" (showDeleteRole)="deleteRole($event)">
                        </app-role-tree>
                      </div>
                    </div>
                    <!--</p-panel>-->
                  </p-tabPanel>
                </p-tabView>
              </div>
            </div>
          </div>
          <div class="split-pane-content-secondary ">
            <div class="lower">
              <div class=" p-t-0 p-r-0 p-b-0"
                   *ngIf="(roleData.roles.selectedRole && activeTab===0) || (roleTreeData.roles.selectedRole && activeTab===1)">
                <p-panel>
                  <p-header>
                    Add User To <span *ngIf="activeTab===0">{{roleData.roles.selectedRole.data.name}}({{roleData.roles.selectedRole.data.orgCode}})</span>
                    <span *ngIf="activeTab===1">{{roleTreeData.roles.selectedRole.data.headRoleName}}({{roleTreeData.roles.selectedRole.data.orgCode}})</span>
                  </p-header>
                  <div class="ui-g">
                    <div class="ui-g-5 fix-h-400  ui-sm-12 p-t-0 p-l-0 p-b-0">
                      <form #searchUserForm="ngForm" (submit)="searchUsersList()">
                        <!--<div class="ui-g form-group">
                            <div class="ui-g-12 ui-md-5">
                              <label>Select Criteria:</label>
                            </div>
                            <div class="ui-g-12 ui-md-7">
                              <p-dropdown [options]="roleData.roles.selectCriterions"
                                          [(ngModel)]="roleData.roles.model.selectedCriterion" [autoWidth]="false"
                                          name="matchType"></p-dropdown>
                            </div>
                          </div>
                          <div class="ui-g form-group">
                            <div class="ui-g-12 ui-md-5">
                              <label>Search Text:</label>
                            </div>
                            <div class="ui-g-12 ui-md-7">
                            <span class="md-inputfield">
                                <input type="text" pInputText [(ngModel)]="roleData.roles.model.searchText"
                                       name="roleSearchText" required>
                            </span>
                            </div>
                          </div>
                          <div class="ui-g form-group">
                            <div class="ui-g-12  ui-md-12">
                              <button [disabled]="!roleData.roles.model.searchText" pButton type="submit" label="Search"
                                      class="pull-right"></button>
                            </div>
                          </div>-->

                        <!--all search criteria-->
                        <div class="ui-g form-group">
                          <div class="ui-g-12 ui-md-4">
                            <label class="text-bold">Select Criteria</label>
                          </div>
                          <div class="ui-g-12 ui-md-8">
                            <label class="text-bold">Search Text</label>
                          </div>
                        </div>
                        <div class="ui-g form-group">
                          <div class="ui-g-12 ui-md-4">
                            <label>Name:</label>
                          </div>
                          <div class="ui-g-12 ui-md-8">
                    <span class="md-inputfield">
                      <input type="text" pInputText name="userName" [(ngModel)]="searchQueary.userName">
                    </span>
                          </div>
                        </div>
                        <div class="ui-g form-group">
                          <div class="ui-g-12 ui-md-4">
                            <label>Email:</label>
                          </div>
                          <div class="ui-g-12 ui-md-8">
                    <span class="md-inputfield">
                      <input type="text" pInputText name="mail" [(ngModel)]="searchQueary.mail">
                    </span>
                          </div>
                        </div>
                        <div class="ui-g form-group">
                          <div class="ui-g-12 ui-md-4">
                            <label>Designation:</label>
                          </div>
                          <div class="ui-g-12 ui-md-8">
                    <span class="md-inputfield">
                      <input type="text" pInputText name="title" [(ngModel)]="searchQueary.title">
                    </span>
                          </div>
                        </div>
                        <div class="ui-g form-group">
                          <div class="ui-g-12 ui-md-4">
                            <label>Phone:</label>
                          </div>
                          <div class="ui-g-12 ui-md-8">
                    <span class="md-inputfield">
                      <div class="ui-fluid">
                        <p-spinner [(ngModel)]="searchQueary.phone" name="phone" [formatInput]="false" [min]="0"
                                   class="no-spinners"></p-spinner>
                      </div>
                    </span>
                          </div>
                        </div>
                        <div class="ui-g form-group">
                          <div class="ui-g-12 ui-md-4">
                            <label>Org Code:</label>
                          </div>
                          <div class="ui-g-12 ui-md-8">
                    <span class="md-inputfield">
                      <input type="text" pInputText name="orgCode" [(ngModel)]="searchQueary.orgCode">
                    </span>
                          </div>
                        </div>
                        <div class="ui-g form-group">
                          <div class="ui-g-12 ui-md-4">
                            <label>KOC No:</label>
                          </div>
                          <div class="ui-g-12 ui-md-8">
                    <span class="md-inputfield">
                      <div class="ui-fluid">
                        <p-spinner [(ngModel)]="searchQueary.empNo" name="empNo" [formatInput]="false" [min]="0"
                                   class="no-spinners"></p-spinner>
                      </div>
                    </span>
                          </div>
                        </div>
                        <div class="ui-g form-group">
                          <div class="ui-g-12 ui-md-12 p-l-0">
                            <button pButton type="submit" label="Search" class="pull-right m-l-md"></button>
                            <button pButton type="button" (click)="searchUserForm.reset();roleData.roles.result=[];"
                                    label="Clear" class="pull-right"></button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="ui-g-7 fix-h-400 ui-sm-12 p-0">
                      <app-user-list [showAddBtn]="true" [showCcBtn]="false" [showToBtn]="false"
                                     [showTooltip]="false" [items]="roleData.roles.result" [field]="'name'"
                                     (addToList)="addToList($event)" (existsInList)="existsInList($event)"
                                     (getRoleMembers)="getRoleMembers($event)"></app-user-list>
                    </div>
                  </div>
                </p-panel>
              </div>
            </div>
          </div>
        </vertical-split-pane>
      </div>

    </div>
    <p-confirmDialog header="Remove User?" #cd key="removeRoleUserConfirmation">
      <p-footer>
        <button type="button" pButton icon="ui-icon-check" label="Yes" (click)="cd.accept()"></button>
        <button type="button" pButton icon="ui-icon-close" label="No" (click)="cd.reject()"></button>
      </p-footer>
    </p-confirmDialog>
  </div>
</div>

<p-dialog modal="modal" showEffect="fade" [(visible)]="showEditRole" [minWidth]="600" [height]="480"
          (onHide)="closeModel();editRoleForm.reset()">
  <p-header *ngIf="!editMode">
    Add Role
  </p-header>
  <p-header *ngIf="editMode">
    Edit Role
  </p-header>
  <div class="ui-g-12 ui-md-1"></div>
  <div class="ui-g-12 ui-md-11 fix-h-350">
    <div class="scrollable">
      <form (ngSubmit)="saveRole()" #editRoleForm="ngForm">
        <div *ngIf="!editMode" class="ui-g form-group" [ngClass]="{'hide-Important':!editRoleWithOrg && editMode}">
          <div class="ui-g-12 ui-md-4">
            <label for="type">Type:<b style="color:red">*</b></label>
          </div>
          <div class="ui-g-12 ui-md-7">
            <p-dropdown id="type" name="type" [placeholder]="'Select'" [options]="roleData.roles.type"
                        [(ngModel)]="editRole.type" [autoWidth]="false" [filter]="true"
                        autoDisplayFirst="false" [required]="true" (onChange)="typeChanged($event)"></p-dropdown>
          </div>
        </div>
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-4">
            <label for="name">Name:<b style="color:red">*</b></label>
          </div>
          <div class="ui-g-12 ui-md-7">
            <input pInputText type="text" id="name" name="name" [(ngModel)]="editRole.name"
                   maxlength="40" [required]="true">
          </div>
        </div>
        <div *ngIf="!(editRole.type && editRole.type>1)" class="ui-g form-group"
             [ngClass]="{'hide-Important':!editRoleWithOrg && editMode}">
          <div class="ui-g-12 ui-md-4">
            <label for="orgUnit">Organization Unit:<b style="color:red">*</b></label>
          </div>
          <div *ngIf="roleData.roles.selectedOrgCodeType" class="ui-g-12 ui-md-4">
            <p-autoComplete id="orgUnit" [(ngModel)]="editRole.orgCode"
                            [suggestions]="suggestionsResults" (completeMethod)="search($event)"
                            name="OrgCode" [size]="30" placeholder="Search OrgCode" [minLength]="1" [appendTo]="'body'"
                            [required]="true"></p-autoComplete>
          </div>
          <div *ngIf="!roleData.roles.selectedOrgCodeType" class="ui-g-12 ui-md-4">
            <input pInputText type="text" id="orgUnitText" name="orgUnit" [(ngModel)]="editRole.orgCode"
                   maxlength="40" [required]="true">
          </div>
          <div class="ui-g-12 ui-md-3">
            <p-inputSwitch [ngModelOptions]="{standalone: true}" [(ngModel)]="roleData.roles.selectedOrgCodeType"
                           (onChange)="orgCodeTypeChanged($event)"></p-inputSwitch>
            <label *ngIf="roleData.roles.selectedOrgCodeType" class="pull-right" title="Search Existing orgCode">Existing</label>
            <label *ngIf="!roleData.roles.selectedOrgCodeType" class="pull-right" title="Enter New orgCode">New</label>
          </div>
        </div>
        <div *ngIf="!(editRole.type && editRole.type>1)" class="ui-g form-group"
             [ngClass]="{'hide-Important':!editRoleWithOrg && editMode}">
          <div class="ui-g-12 ui-md-4">
            <label for="adGroup">Active Directory Group:<b style="color:red">*</b></label>
          </div>
          <div class="ui-g-12 ui-md-7">
            <p-autoComplete id="adGroup" name="adGroup" [(ngModel)]="editRole.adGroup"
                            [suggestions]="granteesSuggestion"
                            (completeMethod)="getGranteesSuggestion($event)"
                            [size]="30" placeholder="Search adGroup" [minLength]="1" appendTo="body"
                            [forceSelection]="true" [required]="true"></p-autoComplete>
          </div>
        </div>
        <div *ngIf="!(editRole.type && editRole.type>2)" class="ui-g form-group"
             [ngClass]="{'hide-Important':editRole.type==3 && editMode}">
          <div class="ui-g-12 ui-md-4">
            <label for="parentRoleListDropdown">Parent Role:<b style="color:red">*</b></label>
          </div>
          <div class="ui-g-12 ui-md-7">
            <p-dropdown id="parentRoleListDropdown" name="parentRoleList" [placeholder]="'Select'"
                        [options]="roleData.roles.parentRoleList"
                        [(ngModel)]="editRole.parentRole" [autoWidth]="false" [filter]="true"
                        autoDisplayFirst="false" [required]="true"></p-dropdown>
          </div>
        </div>
        <div *ngIf="!(editRole.type && editRole.type>1)" class="ui-g form-group"
             [ngClass]="{'hide-Important':!editRoleWithOrg && editMode}">
          <div class="ui-g-12 ui-md-4">
            <label for="eEignAllowed">eSign Allowed:</label>
          </div>
          <div class="ui-g-12 ui-md-7">
            <p-dropdown id="eEignAllowed" name="eEignAllowed" [placeholder]="'Select'" [options]="options"
                        [(ngModel)]="editRole.iseSignAllowed" [autoWidth]="false" [appendTo]="'body'"
                        autoDisplayFirst="false"></p-dropdown>
          </div>
        </div>
        <div *ngIf="!(editRole.type && editRole.type>1)" class="ui-g form-group"
             [ngClass]="{'hide-Important':!editRoleWithOrg && editMode}">
          <div class="ui-g-12 ui-md-4">
            <label for="initialAllowed">Initial Allowed:</label>
          </div>
          <div class="ui-g-12 ui-md-7">
            <p-dropdown id="initialAllowed" name="initialAllowed" [placeholder]="'Select'" [options]="options"
                        [(ngModel)]="editRole.isInitalAllowed" [autoWidth]="false" [appendTo]="'body'"
                        autoDisplayFirst="false"></p-dropdown>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--<div class="progress-bar">-->
  <!--<div [ngBusy]="{busy: busyModal, message: 'Loading...', backdrop: true}"></div>-->
  <!--</div>-->
  <p-footer>
    <button *ngIf="!editMode" pButton class="pull-right" type="submit" label="Submit"
            [disabled]="!editRoleForm.form.valid" (click)="saveRole()"></button>
    <button *ngIf="editMode" pButton class="pull-right" type="submit" label="Save"
            [disabled]="!editRoleForm.form.dirty || !editRoleForm.form.valid" (click)="saveRole()"></button>
    <button pButton class="pull-right" type="button" label="Cancel"
            (click)="closeModel();editRoleForm.reset()"></button>
  </p-footer>
</p-dialog>
<p-confirmDialog appendTo="body" key="confirmKey" header="Delete Confirmation"
                 icon="fa fa-help-outline"></p-confirmDialog>
<p-confirmDialog appendTo="body" key="confirmKeyAddRole" rejectLabel="Cancel" [icon]="null" acceptLabel="OK"
                 header="Existing Roles" icon="fa fa-help-outline"></p-confirmDialog>
