<div class="exception-body accessdenied  w-100 h-100">
  <div class="exception-panel">
    <div class="exception-code logo-img">
      <img src="assets/layout/images/logo-slim.png">
    </div>

    <div class="exception-detail">
      <div class="exception-icon">
        <i class="material-icons">error_outline</i>
      </div>
      <h1>Session Timeout</h1>
      <!--<p>Please click the button below to go to {{sessionTimeoutButtonText}}</p>-->
      <p>Please click the below button to login again</p>
      <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only"
              (click)="goToDefaultPage()">
                  <!--<span class="ui-button-text">GO TO-->
                    <!--<span *ngIf="sessionTimeoutButtonText=='dashboard'">DASHBOARD</span>-->
                    <!--<span *ngIf="sessionTimeoutButtonText=='workflow'">WORKFLOW</span>-->
                    <!--<span *ngIf="sessionTimeoutButtonText=='folders'">FOLDERS</span>-->
                  <!--</span>-->
                  <span class="ui-button-text">Login</span>
      </button>
    </div>
  </div>
</div>

