.headernav {
    border-radius: 0;
    background-color: #00518d;
    padding: 6px;
    z-index: 2;
}
.topnav {
    border-radius: 0;
    background-color: #00518d;
    padding: 6px;
    z-index: 2;
}

.bg-inverse {
    color: #eceeef;
    background-color: #00518d;
}
.navbar-fixed-top {
    top: 0;
    position: fixed;
}
@media (min-width: 544px)
.navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
@media (min-width: 544px)
.navbar {
    border-radius: 0.25rem;
}
.navbar {
    position: fixed;
    padding: 0.5rem 1rem;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
*, *::before, *::after {
    box-sizing: inherit;
}
user agent stylesheet
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

.logo-navbar {
    line-height: 40px;
    height: 40px;
    width: 200px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: 50px center;
    margin: 0;
    background-size: contain;
    background-image: url("ecm.png");
}