<div class="exception-body accessdenied  w-100 h-100">
  <div class="exception-panel">
    <div class="exception-code logo-img">
      <img src="assets/layout/images/logo-slim.png">
    </div>

    <div class="exception-detail">
      <div class="exception-icon">
        <i class="material-icons">error_outline</i>
      </div>
      <h1>Login Failed</h1>
      <p>Click the button below to login again</p>
      <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only"
              (click)="login()">
        <span class="ui-button-text">Login</span>
      </button>
    </div>
  </div>
</div>

