<div [ngClass]="{'hide-empty-message':!items}" class="user-list">
  <table class="ecm-table w-100">
    <tbody>
    <ng-container *ngFor="let item of items;let i=index">

      <tr (mouseover)="mExistsInList(item)" class="item" [ngClass]="{'even':i%2===0,'clickable':isRowSelectable}">

        <td><i [ngClass]="iconClass"></i></td>
        <td>
          <div class="w-100" *ngIf="!showTooltip">
               <span *ngIf="!clickable"> <span *ngIf="item.name">{{item.name}}</span>
               <span *ngIf="item.fulName && !item.name">{{item.fulName}}</span>
                 </span>
            <a *ngIf="clickable" (click)="mGetListMembers(item)">
              {{item.name}}
            </a>

          </div>
         <div class="w-100" *ngIf="showTooltip" (mouseover)="mGetItemMembers(item)"
               [tooltipStyleClass]="'tooltip'" [escape]="false" pTooltip="{{item.members}}"
               tooltipPosition="bottom">
               <span *ngIf="!clickable"> <span *ngIf="item.name">{{item.name}}</span>
               <span *ngIf="item.fulName && !item.name">{{item.fulName}}</span>
                 </span>
            <a *ngIf="clickable" (click)="mGetListMembers(item)">
              {{item.name}}
            </a>

          </div>
        </td>
        <td align="right" class="action-btn-group">
        <span class="action-btn-group-sm">
          <button *ngIf="showToBtn" pButton type="button" label="To" class="v-m" (click)="mAddToToList(item)"
                  [disabled]="item.disabled || (clickable && (actionType==='Signature' || actionType==='Initial')) || (actionType==='Signature' && item.iseSignAllowed===0) || (actionType==='Initial' && item.isIntialAllowed===0)"></button>
          <button *ngIf="showCcBtn" pButton type="button" label="CC" class="v-m" (click)="mAddToCCList(item)"
                  [disabled]="item.disabled || actionType==='Signature' || actionType==='Initial'"></button>
          <button pButton type="button" icon="ui-icon-add" (click)="mAddToList(item)"
                  class="remove-btn v-m " *ngIf="showAddBtn" [disabled]="item.disabled"></button>
          <button *ngIf="showSelectBtn" pButton type="button" label="Select" class="v-m"
                        (click)="mSelectToList(item)"></button>
        </span>
        </td>
      </tr>

    </ng-container>
    </tbody>
  </table>
  <!--<p-dataGrid [value]="items" [styleClass]="'user-list'" >-->
  <!--<ng-template let-item pTemplate="item">-->


  <!--<div class="ui-g-12 item" (mouseover)="mExistsInList(item)">-->
  <!--<div class="ui-g-2"><i class="fa ui-icon-people"></i></div>-->
  <!--<div class="ui-g-10">-->
  <!--<div class="ui-g-6 p-0" (mouseover)="mGetItemMembers(item)" pTooltip="{{item.members}}" [tooltipStyleClass]="'tooltip'"-->
  <!--tooltipPosition="bottom">-->
  <!--<span *ngIf="!clickable"> <span *ngIf="item.name">{{item.name}}</span>-->
  <!--<span *ngIf="item.fulName && !item.name">{{item.fulName}}</span>-->
  <!--</span>-->
  <!--<a *ngIf="clickable" (click)="mGetListMembers(item)">-->
  <!--{{item.name}}-->
  <!--</a>-->

  <!--</div>-->
  <!--<div class="ui-g-6 p-0 action-btn-group-sm" >-->
  <!--<button *ngIf="showToBtn" pButton type="button" label="To" class="v-m" (click)="mAddToToList(item)" [disabled]="item.disabled"></button>-->
  <!--<button *ngIf="showCcBtn" pButton type="button" label="CC" class="v-m" (click)="mAddToCCList(item)"-->
  <!--[disabled]="item.disabled || actionType!=='Default'" ></button>-->
  <!--<button *ngIf="showAddBtn" pButton type="button" label="Add" class="v-m" (click)="mAddToList(item)"-->
  <!--[disabled]="item.disabled" ></button>-->
  <!--<button *ngIf="showSelectBtn" pButton type="button" label="Select" class="v-m" (click)="mSelectToList(item)"-->
  <!--&gt;</button>-->
  <!--</div>-->


  <!--</div>-->
  <!--</div>-->
  <!--</ng-template>-->
  <!--</p-dataGrid>-->
</div>
