.boldTitle {
  font-weight: 600;
}

.hyperlink {
  color: #666666
}

.hyperlink:hover {
  text-decoration: underline;
  color: #0091ff;
  cursor: pointer;
}

.action-btn-sm {
  font-size: 0.6em;
}

.displaytr {
  display: block;
}

.line-height-sm {
  line-height: 1.5;
  padding: 0px 0px;
}

.proptable {
  max-height: 250px;
  overflow-y: scroll;
}

.role {
  background-color: #7CB342;
  color: white;
  border-radius: 5px;
}

.user {
  background-color: #607D8B;
  color: white;
  border-radius: 5px;
}

.showTrack {
  display: block;
}

.hideTrack {
  display: none;
}

.ui-font-size-inherit {
  font-size: large;
}

.recipients {
  overflow-y: auto;
  max-height: 70px;
  background: #ececec;
  padding: 10px 15px;
  border-top: 1px solid #bbb;
  box-shadow: inset 0 0 3px 0 rgba(170, 170, 170, 0.52);
  border-radius: 3px;
  min-height: 48px;
  padding-bottom: 0;
}

.margin-top-sm {
  margin-top: 11px;
}

.recipients > .to, .recipients > .cc {
  padding: 3px 6px;
  font-size: 14px;
  border-radius: 4px;
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 9px;
}

.margin-top-lg {
  margin-top: 16px;
}

.label-width > td {
  padding: 0.5%;
  word-break: break-word;
}

.float-right {
  float: right;
}

